# --- Fichiers de données et bases de données ---
data/
*.db
*.sqlite
*.sqlite3
identifier.sqlite
.worktrees
script/
marker_output_test/
# --- Fichiers Anki ---
*.apkg
*.colpkg
*.anki2
*.anki21b
dist_prod/
# --- Environnement Python & Cache ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.ankiforge/.env
superpowers/
# --- Outils de Build et de Packaging ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
test.md
GEMINI.md
*.json
experiment/

# --- IDE (PyCharm, VSCode, etc.) ---
.idea/
.vscode/
*.swp
.run/

# --- Fichiers système ---
.DS_Store
Thumbs.db


# --- Fichiers spécifiques au projet ---
*.gaphor
*.jpeg

# --- Worktrees ---
.worktrees/